// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  margin: 10px;
}

.list-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 200px;

  &:hover {
  opacity: 0.1;
  color: black;
  }
}

.list-card a {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.list-card a:hover {
  text-decoration: none;
}