.banner {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  
}

.banner p {
    color: white;
    padding: 10px;
  }

.index-banner {
  background-image: asset-url('movie.jpeg');
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.banner-btn {
  position: absolute;
  top: 0px;
  font-size: 18px;
  background-color: #EAEDED;
  width: 100%;
}
