.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-size: cover;
  background-position: center;
  height: 400px;
   
}

.index-banner {
  background-image: asset-url('movie.jpeg');
  background-size: cover;
}

