.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: white;
  background: url(https://source.unsplash.com/daily);
  background-size: cover;
  font-weight: bold;
  font-size: 24px;
   
}

