
img {
  height: 300px;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 2px 2px #EAEDED;
  border-radius: 10px;
  margin: 5px;
  
}

.card p {
  font-size: 14px
}

.card-title-div {
  display: flex;
}

.card-title {
  font-weight: bold;
}